@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h2>Hello, @Model.Username</h2>
    <p>
        With <strong>breadhinge</strong>, you can generate playlists in Spotify with songs from 2 artists.
        For example, <strong>Alice and Chains</strong> and <strong>$uicideboy$</strong> go well together. Why not generate a playlist with both of their songs in 2 clicks?
    </p>

    <p>
        Give it a shot:
        <br />
        <a class="btn btn-lg btn-primary" asp-page="/CreatePlaylist">Create a playlist</a>
    </p>

</div>
