@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <p>
        <h2>Hello, @Model.Username</h2>
    </p>

    <p>
        <a asp-page="/CreatePlaylist">Create a playlist</a>
    </p>

</div>
